<h1>My followers:</h1>
<% @followers.each do |follower|  %>
	<%= link_to "#{follower.first_name} #{follower.surname}", users_show_path(follower.id) %><br>
<% end %>
<%= link_to "Back", users_show_path(current_user) %>