<% if User.all.count > 0 %>
	<% if user_signed_in? %>
		<% @users.each do |user| %>
			<%= "*" * 50 %><br>
			<%= link_to "#{user.first_name} #{user.surname}", users_show_path(user.id) %><br>
			<% if user.avatar.attached? %>
				<%= image_tag user.avatar, size: 100 %>
			<% end %><br>
			<%= "*" * 50 %><br>
		<% end %>
	<% else %>
		<h1>Registrate and log in to see other users profiles!</h1>
		<% @users.each do |user| %>
			<%= "*" * 50 %><br>
			<%= "#{user.first_name} #{user.surname}" %><br>
			<% if user.avatar.attached? %>
				<%= image_tag user.avatar, size: 100 %>
			<% end %><br>
			<%= "*" * 50 %><br>
		<% end %>
	<% end %>
<% else %>
	<h1>There is no users! Be first to registrate!</h1>
<% end %>