<% if current_user.id == @user.id %>

	<h1><%= "#{@user.first_name} #{@user.surname}" %></h1>
	<% if @user.avatar.attached? %>
		<%= image_tag @user.avatar, size: 100 %>
	<% end %><br>

	<% if Followship.find_by(follower_user_id: current_user.id) %>
		<%= link_to "Users I follow", users_i_follow_path(current_user.id) %>
		<%= Followship.where(follower_user_id: current_user.id).count %>
	<% else %>
		<p>I still don't follow anyone</p>
	<% end %><br>
	<% if Followship.find_by(user_to_follow_id: current_user.id) %>
		<%= link_to "My followers", followers_path(current_user.id) %>
		<%= Followship.where(user_to_follow_id: current_user.id).count %>
	<% else %>
		<p>Still i don't have any follower</p>
	<% end %>

	<div style="text-align: center;">
		<% if @user.photos.count > 0 %>
			<h1>Photos:</h1>
			<% @user.photos.each do |photo| %>
				<%= image_tag photo.image, size: 100 %>
			<% end %>
		<% else %>
			<h1>There is no photo in this profile!</h1>
		<% end %>
	</div>

	<div class="album" style="text-align: center;">
		<% if @user.albums.count > 0 %>
			<h1>Albums:</h1>
			<% @user.albums.each do |album| %>
				<% if album.pictures.attached? %>
					<% album.pictures.each do |picture| %>
   						 <%= image_tag picture, size: 100 %>
					<% end %>
				<% end %><br>
			<% end %>
		<% else %>
			<h1>Create new theme album!</h1>
		<% end %>
	</div>

	<%= link_to "Добавить фотографиЮ", new_photo_path %><br>
	<%= link_to "Добавить тематический альбом", new_album_path %><br>
	<%= link_to "Back to main", root_path %>

<% else %>


	<h1><%= "#{@user.first_name} #{@user.surname}" %></h1>
	<% if @user.avatar.attached? %>
		<%= image_tag @user.avatar, size: 100 %>
	<% end %><br>

	<% if Followship.find_by(follower_user_id: current_user.id, user_to_follow_id: @user.id) %>
		<%= link_to "Unfollow", delete_followship_path(current_user.id, @user.id), method: :delete%>
	<% else %>
		<%= link_to "Follow", create_followship_path(current_user.id, @user.id), method: :post %>
	<% end %>

	<div style="text-align: center;">
		<% if @user.photos.count > 0 %>
			<h1>Photos:</h1>
			<% @user.photos.each do |photo| %>
				<%= image_tag photo.image, size: 100 %><br>
				<%= link_to 'Like', create_photo_like_path(current_user.id, photo.id), method: :post %>
				<%= PhotoLike.all.where(photo_id: photo.id).count %><br>
				<% if PhotoComment.all.count > 0 %>
					<% PhotoComment.all.where(photo_id: photo.id).each do |comment| %>
						<%= comment.body %> said: <%= comment.user.surname %> | <%= link_to "Delete the comment", photo_photo_comment_path(photo.id, comment.id), method: :delete %><br>
					<% end %>
				<% else %>
					<p>There is still no comments! Be first!</p>
				<% end %>
				<%= render './photo_comments/form.html.erb', photo: photo %>
			<% end %>
		<% else %>
			<h1>There is no photo in this profile!</h1>
		<% end %>
	</div>

	<div class="album" style="text-align: center;">
		<% if @user.albums.count > 0 %>
			<h1>Albums:</h1>
			<% @user.albums.each do |album| %>
				<% if album.pictures.attached? %>
					<% album.pictures.each do |picture| %>
   						 <%= image_tag picture, size: 100 %>
					<% end %>
				<% end %><br>
				<%= link_to 'Like', create_album_like_path(current_user.id, album.id), method: :post%>
				<%= AlbumLike.all.where(album_id: album.id).count %><br>
				<% if AlbumComment.all.count > 0 %>
					<% AlbumComment.all.where(album_id: album.id).each do |comment| %>
						<%= comment.body %> said: <%= comment.user.surname %> | <%= link_to "Delete the comment", album_album_comment_path(album.id, comment.id), method: :delete %><br>
					<% end %>
				<% else %>
					<p>There is still no comments! Be first!</p>
				<% end %>
				<%= render './album_comments/form.html.erb', album: album %>
			<% end %>
		<% else %>
			<h1>The user still didn't create an album!</h1>
		<% end %>
	</div>
	
	<!-- Это код карусели и он в работе -->
	<% if @user.albums.count > 0 %>
		<% @user.albums.each do |album| %>
			<% if album.pictures.attached? %>
				<div id="myCarousel" class="carousel slide" data-ride="carousel">

					<ol class="carousel-indicators">
						<% album.pictures.each_with_index do |picture, n| %>
							<li data-target="#myCarousel" data-slide-to="#{n}" class="<%= n == 0 ? 'active' : '' %>">
							</li>
						<% end %>
					</ol>
	
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<%= image_tag album.pictures.first, size: 100 %>
						</div>
						<% album.pictures.drop(1).each do |pic| %>
							<div class="item">
								<%= image_tag pic, size: 100 %>
							</div>
						<% end %>
					</div>

					<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			<% end %>
		<% end %>
	<% else %>
		<h1>The user still didn't create an album!</h1>
	<% end %>

	<%= link_to "Back to main", root_path %>

<% end %>