<h1>Users i follow:</h1>
<% @users_i_follow.each do |user_i_follow|  %>
	<%= link_to "#{user_i_follow.first_name} #{user_i_follow.surname}", users_show_path(user_i_follow.id) %><br>
<% end %>

<%= link_to "Back", users_show_path(current_user) %>