<%= form_with scope: :album_comment, url: album_album_comments_path(album.id), method: :post do |f| %>
	<div>
		<%= f.label :comment %>:<br/>
		<%= f.text_area :body %>
	</div>

	<%= f.submit %>
<% end %>