<%= form_with model: @album, local: true do |f| %>

<% if @album.errors.any? %>
<div class="errors">
	Total errors: <%= @album.errors.count %>
	<ul>
		<% @album.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div>
	<%= f.label :title %><br/>
	<%= f.text_field :title %>
</div>

<div>
	<%= f.label :description %><br/>
	<%= f.text_area :desc %>
</div>

<div>
	<%= f.label :photos %><br/>
	<%= f.file_field :pictures, multiple: true %>
</div>

<div>
	<%= f.submit %>
</div>
<% end %>

<p><%= link_to 'Back to main', root_path %></p>