<%= form_with model: @photo, local: true do |f| %>

<% if @photo.errors.any? %>
<div class="errors">
	Total errors: <%= @photo.errors.count %>
	<ul>
		<% @photo.errors.full_messages.each do |message| %>
		<li><%= message %></li>
		<% end %>
	</ul>
</div>
<% end %>

<div>
	<%= f.label :title %><br/>
	<%= f.text_field :title %>
</div>

<div>
	<%= f.label :description %><br/>
	<%= f.text_area :desc %>
</div>

<div>
	<%= f.label :image %><br/>
	<%= f.file_field :image %>
</div>

<div>
	<%= f.submit %>
</div>
<% end %>

<p><%= link_to 'Back to main', root_path %></p>