<%= form_with scope: :photo_comment, url: photo_photo_comments_path(photo.id), method: :post do |f| %>
	<div>
		<%= f.label :comment %>:<br/>
		<%= f.text_area :body %>
	</div>

	<%= f.submit %>
<% end %>